<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.AuctionMapper">
	<!--전체리스트 -->
	<select id="auctionlistAll" resultType="vo.ListVO">
		SELECT LOST.UNIQUE_ID, IMAGE_ADDRESS, PRODUCT_NAME, CATEGORY, START_PRICE, MIN_BID, date_format(START_DATE, '%Y-%m-%d') START_DATE, date_format(END_DATE, '%Y-%m-%d')END_DATE FROM AUCTION, LOST
		 WHERE auction.unique_id = lost.unique_id;
	</select>
	
	<!--카테고리-->
		<select id="category" resultType="vo.ListVO" parameterType="string">
 		SELECT LOST.UNIQUE_ID, IMAGE_ADDRESS, PRODUCT_NAME, CATEGORY, START_PRICE, MIN_BID, date_format(START_DATE, '%Y-%m-%d') START_DATE, date_format(END_DATE, '%Y-%m-%d')END_DATE FROM AUCTION, LOST 
 		WHERE AUCTION.UNIQUE_ID = LOST.UNIQUE_ID AND LOST.CATEGORY LIKE '%'||#{KEY}||'%';
 	</select>
 	
	<!--경매 추가-->
	<insert id="insertAuction" parameterType="vo.AuctionVO">
		INSERT INTO AUCTION(UNIQUE_ID, START_PRICE, MIN_BID, START_DATE, END_DATE)
		VALUES(#{unique_id},#{start_price},#{min_bid}, #{start_date}, #{end_date});
	</insert>
</mapper>
  
  